<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <img src="/images/logoc.jpg" alt="SheenClassics Logo" class="footer-logo">
                <p>Premium embroidered clothing for the modern classic.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/account">My Account</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Developer </h4>
                <p>Salman Adil</p>
                <p>Email: msalmanadil44@gmail.com</p>
                <p>Phone: +923324261998</p>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Email: Sheenclassics@gmail.com</p>
                <p>Phone: +92320 8892458</p>
            </div>
            <div class="footer-section qr-section">
                <h4>Scan to Connect</h4>
                <img src="/images/qrcode_294903251_2dd4a69d563c94636c6b8410ce56e038.png" alt="QR Code" class="qr-code">
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SheenClassics. All rights reserved.</p>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>

</html>